/* components/Footer.module.css */

.footer {
    margin-top: 4rem; /* mt-16 */
    padding: 1.5rem 0; /* py-6 */
    text-align: center;
    background-color: #64748b; /* bg-slate-700 */
    color: white;
  }
  